

:root {
    --primary-color: #FEF3C7;
    --secondary-color: #111827; 
    --light-gray: #D1D5DB;
}


.container {
    margin: auto;
    padding: 0.5rem;
    height: 20vh;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    max-width: 400px;
}

.image {
    float: left;
    display: block;
    max-width: 40%;
    margin-left: 0rem;
}

main{
    margin: 1rem, 1rem;
    padding: 1rem;
}

main .container{
    margin: auto;
    text-align:center;
    background-color: var(--light-gray);
    width: 300px;

}

textarea {
    margin: auto;
    text-align: center;
}